html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header {
    overflow: hidden;
    height: 300px;
}

.header img {
    float: left;
    height: 300px;
    width: 300px;
}

.header h1,
.header h2{
    padding-top: 100px;
}

.header h1:hover,
.header a:hover {
    top: -10px;
    text-decoration: underline;
}

.header * {
    text-decoration: none;
    position: relative;
    width: min-content;
    height: fit-content;
    margin: 10px;
    display: inline-block;
    text-align: center;
}